.executions {
	margin-block: 10px !important;
	box-shadow: 0 0 3px 0px #006cc9 !important;
}

.executions-description {	
	display: block;
	font-size: 0.7vw;
	color: #228cdbff !important;
	font-weight: 400 !important;
}