/*COMMON USER OPTIONS*/
.home__option {
    margin-block: .15em;
    background: white;
    width: 250px;
    align-items: center;
}

.home__option .icon {
    margin-block: 1em;
}

.home__option__meta .ant-card-meta-title {
    color: rgb(59, 59, 59);
    font-size: large;
	font-weight: 400 !important;
}

/*LIST MANGAEMENT*/

.userred {
	background: linear-gradient(47deg, rgb(248, 145, 104) 0%, rgb(247, 75, 63) 100%) !important;
}

.useryellow {
    background: linear-gradient(47deg, rgb(247, 201, 114) 0%, rgb(255, 171, 16) 100%) !important;
}

.usergreen {
    background: linear-gradient(47deg, rgb(173, 201, 253) 0%, rgb(42, 255, 202) 100%) !important;
}

.userblue {
    background: linear-gradient(45deg, rgba(148,204,197,1) 0%, rgba(83,108,255,1) 99%, rgba(83,108,255,1) 100%) !important;
}

.userpurple {
    background: linear-gradient(45deg, rgba(238,155,155,1) 0%, rgba(141,81,255,1) 100%);
}