.App {
  padding: 20px;
}

.verification-message{
  text-align: center;
  margin-block: 10%;
}

.success h2 {
  font-size: xx-large;
  color: #006cc9;
}

.fail h2 {
  font-size: xx-large;
  color: #ff4d4f;
}

.expired h2 {
  font-size: xx-large;
}
