/* CSS HEX */
--oxford-blue: #071e33ff;
--gainsboro: #e0e0e0ff;
--white: #ffffffff;
--green-blue-crayola: #228cdbff;
--outrageous-orange: #ff785aff;
/* LISTS AND MODALS */

.ant-popover.ant-popover-placement-bottom {
    width: 20%;
 }

.modal-editable-title {
	margin-top: 0px !important;
}

.modal-title-label {
	color: #228cdbff !important;
	font-weight: 200 !important;
	margin-bottom: 0px !important;
}

.modal-list-item:hover {
	background-color: #cce4ff !important;
}

.list-item {
	border-radius: 10px !important;	
	border: 1px solid #fff !important;
	margin-block: 2px !important; 
}

.list-item:hover {
	border: 1px solid #228cdbff !important;
	border-radius: 10px !important;
}

.list-item.description {
	display: block;
	font-size: 0.7vw;
	color: #228cdbff !important;
	font-weight: 400 !important;
}

.list-item.description:hover {
	border: 1px solid #fff !important;
}

.list-item .tags {
	margin-left: 10px !important;
	display: table-cell;
	height: 1.7vh;
	color: #fff !important;
	font-size: 0.5vw;
	font-weight: 500 !important;
	background: #ebbd17 !important;
	border: 1px solid #fff !important;
	border-radius: 10px !important;
}

.list-item-main-content {
	display: block;
	color: #000 !important;
	font-weight: 400 !important;	
}

.list-item-secondary-content {
	display: block;
	font-size: 0.7vw;
	color: #228cdbff !important;
	font-weight: 400 !important;	
	
}

.divider-list-title {
	font-size: 150%;
	font-weight: 200 !important;	
}

.divider-list-avatar {
	margin-right: 10px !important;
	margin-bottom: 5px !important;
}


@media only screen and (max-width: 1450px) {
	.hideable { 
		display: none !important; 
	}
}

/*USER BADGE*/

.badge-name {
	font-size: 170%;
	font-weight: 300 !important;
}

.default-avatar-1 {
	background: rgb(34,193,195) !important;
	background: linear-gradient(27deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%) !important;
}

/* DEFAULT AVATAR STYLES */
.userdefavatar0 {
	background: rgb(22,203,140) !important;
	background: linear-gradient(47deg, rgba(22,203,140,1) 0%, rgba(73,239,241,1) 100%) !important;
}
.userdefavatar1 {
	background: rgb(34,140,219) !important;
	background: linear-gradient(47deg, rgba(34,140,219,1) 0%, rgba(34,192,219,1) 100%) !important;
}
.userdefavatar2 {
	background: rgb(241,185,151) !important;
	background: linear-gradient(47deg, rgba(241,185,151,1) 0%, rgba(255,212,126,1) 100%) !important;
}
.userdefavatar3 {
	background: rgb(182,152,244) !important; 
	background: linear-gradient(47deg, rgba(182,152,244,1) 0%, rgba(110,120,255,1) 100%) !important;
}
.userdefavatar4 {
	background: rgb(255,160,181) !important;
	background: linear-gradient(47deg, rgba(255,160,181,1) 0%, rgba(252,97,85,1) 100%) !important;
}

.defpurple {
	background: rgb(182,152,244) !important; 
background: linear-gradient(47deg, rgba(182,152,244,1) 0%, rgba(110,120,255,1) 100%) !important;
}
.defgreen {
	background: rgb(22,203,140) !important;
	background: linear-gradient(47deg, rgba(22,203,140,1) 0%, rgba(73,239,241,1) 100%) !important;
}
.defblue {
	background: rgb(34,140,219) !important;
	background: linear-gradient(47deg, rgba(34,140,219,1) 0%, rgba(34,192,219,1) 100%) !important;
}
.defyellow {
	background: rgb(241,185,151) !important;
	background: linear-gradient(47deg, rgba(241,185,151,1) 0%, rgba(255,212,126,1) 100%) !important;
}
.defred {
	background: rgb(255,160,181) !important;
	background: linear-gradient(47deg, rgba(255,160,181,1) 0%, rgba(252,97,85,1) 100%) !important;
}

/* REPORTS */
.report-stats-column {
	display: flex !important;
	justify-content: space-evenly !important;
  flex-direction: column !important;
}

.report-column {
  text-align: center;
}

/*LOGIN*/
.login-container {
	display: flex;
	background: #4b7ead;
	height: 100vh;
    justify-content: center;
}

.login-pane {
	background: white;
	margin-top: 5vh;
	width: 40vw;
	height: min-content;
	display: grid;
	grid-template-rows: 150px 300px min-content;
	grid-template-areas:
	"header"
	"form"
	"error"
	;
}

.login-header {
	grid-area: header;
}

.login-header h1,
.login-header h5 {
	margin-left: 8%;
	text-align: left;
}

.fancy-title {
  	color: #0a5296 !important;
	margin-top: 5%;
}

.fancy-subtitle {
	font-weight: 400 !important;
}

.login-form {
	grid-area: form;
	margin-top: 5%;
}

.login-error {
	grid-area: error;
	font-size: large;
	margin-bottom: 5%;
	color: #eb1757;
}

.login-button {
	font-size: 1.2em !important;
	font-weight: 700 !important;
	background: white !important;
	color: #066ecf !important;
	border: 2px solid #066ecf !important;
	border-radius: 15px !important;
	height: 100% !important;
	width: 100%;
}

.login-button:hover {
	color: white !important;
	background: #066ecf !important;
}

.search-results {
    display: grid;
    grid-template-columns: repeat(4, 240px);
    grid-gap: .4em .6em;
}

.search-results__card {
    border-radius: 2px;
    box-shadow: 0 0 1px 0px #b4b4b5;
}

.search-results__card .cover {
    display: flex;
    justify-content: center;
    margin-block: 1em;
}

.search-results__card .cover .cover__avatar {
    width: 100px;
    height: 100px;
}

.pagination-bottom {
	margin-block: 1em;
}