/* CSS HEX */
--oxford-blue: #071e33ff;
--gainsboro: #e0e0e0ff;
--white: #ffffffff;
--green-blue-crayola: #228cdbff;
--outrageous-orange: #ff785aff;

.ant-popover.ant-popover-placement-bottom {
    width: 20%;
 }
	
.list-item-active {
	border-left-style: solid;
	border-left-color: #fff;
	border-left-width: 8px;
}
	
.list-item-active:hover {
	border-left-style: solid;
	border-left-color: #4de879;
	border-left-width: 8px;
}

.list-item-inactive {
	border-left-style: solid;
	border-left-color: #fff;
	border-left-width: 8px;
}
	
.list-item-inactive:hover {
	border-left-style: solid;
	border-left-color: #f55742;
	border-left-width: 8px;
}

.modal-editable-title {
	margin-top: 0px !important;
}

.modal-title-label {
	color: #228cdbff !important;
	font-weight: 200 !important;
	margin-bottom: 0px !important;
}

.modal-list-item:hover {
	background-color: #cce4ff !important;
}

.list-item .description {
	font-size: 0.8vw;
	color: #228cdbff !important;
	font-weight: 200 !important;
}

.list-item:hover {
	background-color: #cce4ff !important;
}


@media only screen and (max-width: 1450px) {
	.hideable { 
		display: none !important; 
	}
}

/*ADMIN OPTIONS*/
.admin-card .ant-card-body {
	background: #fff;
	transition: .3s ease-out;
}

.admin-icon {
	font-size: 400%;
	color: rgb(255,120,90) !important;
	transition: .3s ease-out;
}

.admin-card .ant-card-body:hover {
	background: rgb(255,120,90);
}

.admin-card .ant-card-body:hover .admin-icon {
	color: #fff !important;
}

.admin-card .ant-card-head {
	font-size: 150%;
	font-weight: 300 !important;
}

/*COMMON USER OPTIONS*/
.common-user-card .ant-card-body {
	background: #fff;
	transition: .3s ease-out;
}

.common-user-icon {
	font-size: 400%;
	color: rgb(34,140,219) !important;
	transition: .3s ease-out;
}

.common-user-card .ant-card-body:hover {
	background : rgb(36, 47, 145) !important;
	/*background: rgb(34,140,219);*/
}

.common-user-card .ant-card-body:hover .common-user-icon {
	color: #fff !important;
}

.common-user-card .ant-card-head {
	font-size: 120%;
	font-weight: 300 !important;
}

/*USER BADGE*/

.badge-name {
	font-size: 170%;
	font-weight: 300 !important;
}

.default-avatar-1 {
	background: rgb(34,193,195) !important;
	background: linear-gradient(27deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%) !important;
}

/* INK CUSTOM ICONS */
